
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  height: 51px;
}
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content {
	height: 450px
}*/
    
    /* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
    
    /* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
    

.Layer_1 {
  background-image: url("../images/Layer_1.png");
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100% !important;
  z-index: 92;
}

.menu_text{
  font-size: 12px;
  font-family: "Lucida Sans";
  color: rgb(254, 254, 254);
  text-transform: uppercase;
  line-height: 6.25;
  position: relative;
  z-index: 93;
}
.col_menu {
	max-width: 68%;
	margin-left: 16.66% !important;
}

@media screen and (max-width: 767px) {
  .sidenav {
     height: auto;
     padding: 15px;

  }
  .row.content {
    height:auto;
  } 
  .menu_text{
    background-color: black;
  }
  .col_menu{
  	max-width: 100% !important;
  	margin-left: 0px !important;
  }
}
/*logo*/
.Layer_21 {
  background-image: url("../images/Layer_21.png");
  position: absolute;
  left: 16.66%;
  top: 1px;
  width: 120px;
  height: 120px;
  z-index: 96;
}
/*napis*/
.Minimo {
  font-size: 20px;
  font-family: "Bazooka" !important;
  color: rgb(9, 9, 9);
  text-transform: uppercase;
  line-height: 3.75;
  /*text-align: left;*/
  -moz-transform: matrix( 0.96592582628907,-0.25881904510252,0.25881904510252,0.96592582628907,0,0);
  -webkit-transform: matrix( 0.96592582628907,-0.25881904510252,0.25881904510252,0.96592582628907,0,0);
  -ms-transform: matrix( 0.96592582628907,-0.25881904510252,0.25881904510252,0.96592582628907,0,0);
  position: absolute;
  left: 19%;
  top: 23.5px;
  z-index: 97 !important;
}

.background1 {
	background-image: url("../images/background1.png");
	
	width: 100%;
	height: 100%;

}
.background2 {
	/*height: 200px;*/
	overflow: hidden;
	font-size: 12px;
	margin: 10px;
	margin-bottom: 3%;
}
.background3 {
	background-color: grey;
	color: white;
	font-size: 12px;
	margin: auto;
}
 footer{
 	background-color: black;
 	font-size: 10px;
 }
.Fiercely_Creative {
  font-size: 100px;
  font-family: "Times New Roman";

  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  text-align: center !important;
  position: relative;
  z-index: 21;
}
div.style1 > p {
	  color: #fff;
	  text-align: center;
}
/*div>p{
	text-align: center !important;
}*/

.button {
  background-image: -moz-linear-gradient( 90deg, rgb(255,242,0) 0%, rgb(255,246,85) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,242,0) 0%, rgb(255,246,85) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,242,0) 0%, rgb(255,246,85) 100%);
  box-shadow: 1px 1.732px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  margin: auto !important;
  width: 241px;
  height: 43px;
  text-align: center;

   /*background: yellow;*/
  border-radius: 20px;
  display: block;
  font-family: "Arial";
  color: rgb(9, 9, 9);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.laptop {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;	
}

.style1 {
	margin-bottom: 7%;
	margin-top: 7%;
}
.view_portfolio {
  

  color: rgb(9, 9, 9);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 4.167;
  text-align: left;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 924.125px;
  top: 461.497px;
  
}
